.progressWrapper {
  width: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
}

.progressDisplay {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 500px;
  border-top: 2px solid transparent;
  border-image: linear-gradient(to right, #4f494a 0%, #4f494a 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #565051, #a7a7a8);
  border-image-slice: 1;
  padding-top: 20px;
}

.selectedListItem {
  background: #424041;
  border-right: 3px solid #ce9797;
}

.mainBoard {
  background: #424041;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.dashUpper {
  height: 38vh;
  padding-left: 40px;
  display: flex;
  min-height: 380px;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(#3f3d3e, #524c4d);
}

.dashUpLeft > h1 {
  color: #b1b1b1;
  font-weight: 400;
  margin-bottom: 50px;
  letter-spacing: 2px;
  font-size: 24px;
  text-align: left;
}

.dashUpLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-width: 440px;
  width: 40%;
}

.progressbarContainer {
  height: 36%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.chartTitle {
  color: #b1b1b1;
  font-size: 20px;
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  letter-spacing: 4px;
  align-items: flex-start;
}

.chartTitle:after {
  content: "";
  width: 30px;
  height: 2px;
  background: #3abbe7;
  margin-top: 20px;
}

.dashUpRight {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 50px 35px 35px 0;
  padding: 15px;
  width: 40%;
  border-radius: 5px;
  box-shadow: 4px 3px 35px 3px rgba(33, 30, 30, 0.75);
  background: linear-gradient(to right, #3abbe7, #aa9daf);
}

.innerContainer {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: linear-gradient(to right, #4f494a 0%, #4f494a 100%);
}

.mainNum {
  text-align: right;
  font-size: 4em;
  color: #ce9797;
}

.mainNum > h3 {
  font-size: 14px;
  color: #b1b1b1;
  margin-bottom: 0;
  font-weight: 400;
}

.dashBottom {
  display: flex;
  height: 50vh;
  min-height: 400px;
  background-color: #434343;
  background-image: linear-gradient(#3f3d3e, #524c4d);
}

.dashBottomLeft {
  background: white;
  min-width: 300px;
  width: 36vw;
  max-width: 400px;

  background: transparent;
}

.emptyAlert {
  color: #e29595;
  margin-top: 50px;
}

@media (max-width: 770px) {
  .dashUpper {
    flex-direction: column;
    min-height: 400px;
    padding: 16px;
    align-items: center;
  }

  .dashUpRight {
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 95%;
    height: 200px;
  }

  .innerContainer {
    height: 200px;
  }

  .mainNum > h3 {
    text-align: center;
  }

  .dashUpLeft {
    width: 85%;
    justify-content: center;
    align-items: center;
  }

  .chartTitle,
  .dashBottomLeft {
    display: none;
  }

  .dashUpLeft > h1 {
    font-size: 18px;
    text-align: center;
  }

  .progressbarContainer {
    width: 95%;
  }
}
